version: '3.1'

services:

  wordpress:
    image: wordpress
    container_name: ${PROJECT_NAME}_wordpress
    restart: always
    ports:
      - 8080:80
    environment:
      WORDPRESS_DB_HOST: db
      WORDPRESS_DB_USER: ${PROJECT_NAME}_user
      WORDPRESS_DB_PASSWORD: ${DB_PASS}
      WORDPRESS_DB_NAME: ${PROJECT_NAME}_db
    volumes:
      - wordpress:/var/www/html

  db:
    image: mysql:5.7
    container_name: ${PROJECT_NAME}_sql
    restart: always
    environment:
      MYSQL_DATABASE: ${PROJECT_NAME}_db
      MYSQL_USER: ${PROJECT_NAME}_user
      MYSQL_PASSWORD: ${DB_PASS}
      MYSQL_ROOT_PASSWORD: ${DB_PASS_ROOT}
    volumes:
      - db:/var/lib/mysql

volumes:
  wordpress:
  db: